body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > div:first-child{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px;
}

